/* Colors */
$primary-text-color: #444444;
$primary-title-color: #000000;
$secondary-title-color: #ffffff;
$third-title-color: #111111;
$fourth-title-color: #222222;
$primary-bg-color: #68b738;
$secondary-bg-color: #f2f2f2;
$third-bg-color: #eaeaea;
$fourth-bg-color: #d9d9d9;
$fifth-bg-color: #d3d3d3;
$sixth-bg-color: #ffffff;
$seventh-bg-color: #e6e6e6;
$eight-bg-color: #000000;
$primary-border-color: #cdcdcd;
$secondary-border-color: #d9d9d9;
$third-border-color: #666666;

/* Breakpoints */
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1440px;
