$primary-text-color: #444444;
$primary-title-color: #000000;
$secondary-title-color: #ffffff;
$third-title-color: #111111;
$fourth-title-color: #222222;
$primary-bg-color: #68b738;
$secondary-bg-color: #f2f2f2;
$third-bg-color: #eaeaea;
