.additional__title {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: $primary-title-color;
}

.additional__item-name {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 16px;
  color: $fourth-title-color;
}

.additional__info {
  font-family: $primary-font;
  font-size: 14px;
  line-height: 14px;
}

.additional__gift {
  background-color: $primary-bg-color;
}

.additional__gift-text {
  font-family: $primary-font;
  font-size: 16px;
  line-height: 20px;
  color: $secondary-title-color;
}
