.contact {
  &--background {
    background-color: $secondary-bg-color;
  }

  &__title {
    font-family: $secondary-font;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: $third-title-color;
  }

  &__address {
    font-family: $primary-font;
    font-size: 14px;
    line-height: 20px;
  }

  &__map {
    max-width: 100%;
  }
}
