.how-it-works__title {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $primary-title-color;
}

.how-it-works__item {
  font-family: $primary-font;
  font-size: 14px;
  line-height: 18px;
}
