.main-footer {
  background-color: $secondary-bg-color;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 40px;
    padding-bottom: 40px;

    @media (min-width: $breakpoint-tablet) {
      flex-direction: row;
      height: 147px;
      padding-top: 0;
      padding-bottom: 0;
    }

    @media (min-width: $breakpoint-desktop) {
      height: 169px;
    }
  }

  &__logo-link {
    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  &__copyright-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    &::after {
      @include mask-image(url("../../icons/stack.svg#logo_html_academy"));
      content: "";
      width: 27px;
      height: 34px;
      background-color: $third-border-color;
    }

    @media (min-width: $breakpoint-tablet) {
      justify-content: space-between;
      gap: 23px;
      width: max-content;
      padding-left: 5px;
    }
  }

  &__copyright-link:hover {
    &::after {
      background-color: $primary-bg-color;
    }
  }

  &__copyright-link:active {
    opacity: 0.4;
  }

  &__copyright-text {
    width: 113px;
    font-family: $primary-font;
    font-size: 16px;
    line-height: 20px;
    color: $primary-text-color;

    @media (min-width: $breakpoint-tablet) {
      font-size: 16px;
      line-height: 20px;
    }
  }
}
