.products {
  border-top: 1px solid $fourth-bg-color;

  @media (min-width: $breakpoint-tablet) {
    border: 0;
  }

  &__wrapper {
    padding: 0;

    @media (min-width: $breakpoint-tablet) {
      padding: 0 30px;
    }

    @media (min-width: $breakpoint-desktop) {
      padding: 0;
    }
  }

  &__title {
    margin-top: 27px;
    margin-left: 20px;
    font-family: $secondary-font;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    color: $primary-title-color;
    text-align: left;

    @media (min-width: $breakpoint-tablet) {
      margin-top: 65px;
      margin-left: 0;
      font-size: 60px;
      line-height: 60px;
    }

    @media (min-width: $breakpoint-desktop) {
      margin-top: 74px;
    }
  }

  &__list {
    margin-top: 41px;

    @media (min-width: $breakpoint-tablet) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 60px;
      margin-top: 84px;
    }

    @media (min-width: $breakpoint-desktop) {
      grid-template-columns: repeat(4, 1fr);
      gap: 63px 80px;
      margin-top: 84px;
    }
  }
}
