.product {
  &__wrapper {
    width: 280px;
    margin: 0 auto;
  }

  &__title-link {
    text-decoration: none;
  }

  &__title {
    font-family: $secondary-font;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: $fourth-title-color;
  }

  &__description {
    font-size: 12px;
    line-height: 16px;
  }

  &__info-item {
    font-family: $primary-font;
    font-size: 12px;
    line-height: 16px;
  }

  &__button {
    width: 100%;
  }
}

.product--show-more {
  padding: 25px 0;
  text-align: center;

  .product__title-link {
    display: inline-block;
    margin-bottom: 8px;

    &::before {
      @include pseudo-element(30px, 30px, auto, auto, static);
      @include mask-image(url("../../icons/stack.svg#icon_plus"));
      display: block;
      margin: 0 auto 23px;
      background-color: $fifth-bg-color;
    }
  }

  .product__title {
    color: $third-title-color;
  }

  .product__description {
    margin-bottom: 21px;
  }
}
