.subscription {
  &__title {
    font-family: $secondary-font;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: $primary-title-color;
  }

  &__subtitle {
    font-family: $secondary-font;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: $primary-title-color;
  }

  &__input {
    padding: 13px;
    font-family: $secondary-font;
    font-weight: 400;
    font-size: 20px;
    line-height: 29.64px;
    text-align: center;
    color: $primary-text-color;
  }
}
